body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #000000;
}

#deck {
    display: inline-block;
    width: 100%;
}

.direction {
    margin: 0.5rem 0;
    display: flex;

}

img {
    margin: 1rem;
    height: 60px;
}

#stack .container {
    position: absolute;
    left: 0;
    width: 100%;
}

.first {
    width: calc(100% - 200px) !important;
    z-index: 2;
}

.second {
    width: calc(100% - 100px) !important;
    z-index: 1;
}
