@font-face {
    font-family: Helvetica;
    src: url('public/assets/fonts/HelveticaLTStd-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Helvetica-Bold;
    src: url('public/assets/fonts/HelveticaLTStd-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#displays-demo-page__container, #displays-page__container {
    background-color: #000000;
    padding: 1rem;
}
