@font-face {
    font-family: Helvetica;
    src: url('public/assets/fonts/HelveticaLTStd-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Helvetica-Bold;
    src: url('public/assets/fonts/HelveticaLTStd-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
