.sdd.container {
  position: relative;
  height: 200px;

  .sdd.wrapper {
    height: 100%;

    &.deleting {
      transform: translate(-100%);
      opacity: 0;
    }
  }

  .card-content {
    flex-direction: column;
    border-radius: 1rem;

    .minute {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 1rem;
    }
  }

  .pos-1 {
    width: calc(100% - 175px) !important;
  }

  .pos-2 {
    width: calc(100% - 350px) !important;
    transition: transform 1s linear, opacity 1s linear;
  }

  .pos-0, .pos-1 {
    .card-content {
      opacity: 0.75;
      padding-left: calc(100% - 200px);

      .train-line {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
      }
    }
  }

  .pos-2 {
    .card-content {
      .train-info {
        margin-top: 1rem;
      }

      .minute {
        margin-left: 8rem;

        h1 {
          font-size: 5rem;
        }

        span {
          font-size: 1.66rem;
        }
      }
    }

    .card-content {
      align-items: flex-start;
    }
  }

  .train-line {
    font-size: 2.75rem;
    width: 66px;
    height: 66px;
    margin: 0 1.75rem;
  }

  .title {
    font-size: 2.47rem;
  }
}


