.sdd.container {
  position: relative;
  height: 200px;

  .sdd.wrapper {
    height: 100%;

    &.deleting {
      transform: translate(-100%);
      opacity: 0;
    }
  }

  .card-content {
    flex-direction: column;
    border-radius: 1rem;

    .minute {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 1rem;
    }
  }

  .pos-1 {
    width: calc(100% - 175px) !important;
  }

  .pos-2 {
    width: calc(100% - 350px) !important;
    transition: transform 1s linear, opacity 1s linear;
  }

  .pos-0, .pos-1 {
    transition: transform 0s linear, opacity 0.5s ease 0.25s;

    .card-content {
      opacity: 0.75;
      padding-left: calc(100% - 200px);

      .train-line {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
      }
    }
  }

  .pos-2 {
    transition: width 0.5s ease;

    .card-content {
      .train-info {
        margin: 0.5rem 0 1rem 0;
      }

      .minute {
        transition: margin-left 0.5s;
        margin-left: 8rem;

        h1 {
          font-size: 5rem;
        }

        span {
          font-size: 1.66rem;
        }
      }

      .title {
        transition: opacity 0.5s ease 0.25s;
      }
    }

    .card-content {
      align-items: flex-start;
    }
  }

  .train-line {
    font-size: 2.75rem;
    width: 66px;
    height: 66px;
    margin: 0 1.75rem;
  }

  .title {
    white-space: nowrap;
    font-size: 2.47rem;
  }

  &.alerting {
    .alert-container {
      font-size: 42px;
      overflow-y: scroll;
      height: 100%;
      color: white;
      margin-left: 200px;
      padding: 0 20px;
    }

    .pos-0, .pos-1 {
      transition: opacity 0.5s ease, transform 0.25s linear 0.5s;
      opacity: 0;
      transform: translateX(-100%)
    }

    .pos-2 {
      width: 200px !important;

      .title {
        transition: opacity 0.5s ease, transform 0.25s linear 0.5s;
        opacity: 0;
        transform: translateX(-100%);
        width: 0;
      }

      .minute {
        margin-left: 2rem;
      }
    }
  }
}

// TODO: Go over CSS and consider optimizing a bit
// TODO: Look into forceNextTrain bug
// TODO: Push alert changes
// TODO: Implement scroll behavior
// TODO: Include a normalize file


