  .alert__container {
    font-size: 42px;
    overflow-y: hidden;
    height: 100%;
    color: white;
    padding: 0 20px;

    &.mdd {
      margin-left: calc(200px + 60px);
    }

    &.sdd {
      margin-left: 200px;
    }

    .alert__description {
      padding-top: 225px;
    }

    .alert__resolution {
      padding-bottom: 250px;
    }
  }
