  .alert-container {
    font-size: 42px;
    overflow-y: hidden;
    height: 100%;
    color: white;
    padding: 0 20px;

    &.mdd {
      margin-left: calc(200px + 60px);
    }

    &.sdd {
      margin-left: 200px;
    }

    .alert-description {
      padding-top: 225px;
    }

    .alert-resolution {
      padding-bottom: 250px;
    }
  }
